/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
/* Header styles */
header {
  background-color: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

h1 {
  font-size: 3rem;
  font-family: Cursive;
  color: #263E73;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin-left: 2rem;
}

nav ul li a {
  text-decoration: none;
  color: #263E73;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #D1D1D1;
}
	
.colab{
	background-color: white;
	color: #263E73;
	padding: 3rem 2rem;
	align-items: center;
	text-align: center;	
}
.colab-text h2{
	font-size: 30px;
	padding-bottom: 30px;
}

.colab-text h3{
	font-size: 20px;
	font-weight: 200;
    margin-left: 305px;
    margin-right: 305px;
	line-height: 35px;
	padding-bottom: 2rem;	
}

.form-group {
  display: center;
  flex-wrap: wrap;
}

.form-group input {
  width: 28%;
  padding: 15px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 15px;
}

select{
  height: 30px;
  width: 850px;
  font-size: 20px;  
  margin-left: 20px;
  text-align:left;
  font-weight: 100;
}
select:focus{
	outline:none;
}	

.no-outline:focus {
  outline: none;
}

button[type="submit"] {
  margin-top: 20px;
  font-weight: bold;
  color: white;
  padding: 20px 40px;
  font-size: 20px;
  background-color: #C62A2A;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.2s ease; 
}

button[type="submit"]:hover {
  background-color: #c42323;
}
	
.footer-basic {
  padding:20px ;
  background-color:black;
  color: #FCFCFC;
}

.footer-basic ul {
  padding:;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
  display: inline-block;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:1;

}

.footer-basic ul a:hover {
  opacity:0.8;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:25px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  margin:0 8px;
  color:inherit;
  opacity:1;
}

.footer-basic .social > a:hover {
  opacity:0.8;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:white;
  margin-bottom:0;
}